<section class="theatre-stage-wrapper {{#if isOpening}}is-opening{{/if}}">
    <div class="mimes-ensemble">
        {{#each ensemble as |mime|}}
            <div class="mime-actor  {{#if (eq mime.id ../activeMimeId)}}is-active{{/if}}"
                 data-id="{{mime.id}}"
                 data-action="setSpotlight"
                 id="mime-{{mime.id}}"
                 data-mime-id="{{mime.id}}">

                {{#if ../isGM}}
                    <button class="remove-mime-btn"
                            data-action="removeMime"
                            data-mime-id="{{mime.id}}"
                            title="Diesen Mimen von der Bühne schicken">
                        <i class="fas fa-times"></i>
                    </button>
                {{/if}}

                <div class="mime-portrait-frame">
                    <img src="{{mime.path}}" alt="{{mime.name}}" class="mime-img" />
                    <div class="mime-spotlight-glow"></div>
                </div>

                <div class="mime-info">
                    <span class="mime-name">{{mime.name}}</span>
                </div>
            </div>
        {{/each}}
    </div>
</section>